@model IList<Weather>
@{
    ViewData["Title"] = "GetWeather";
}
<select>
    <option value="Farenheit">Farenheit</option>
    <option value="Celcius">Celsius</option>
</select>
@foreach (Weather weather in Model)
{
    @if (weather.Day == 1)
    {
        <img src="~/images/@(weather.Forecast.ToLower().Replace(" ", "")).png" />
        <td></td>
        <p>High: @weather.HighF</p>
        <p>Low: @weather.LowF</p>
        @if (weather.Forecast.ToLower().Replace(" ", "") == "snow")
        {
            <p>Pack Snowshoes</p>
        }
        else if (weather.Forecast.ToLower().Replace(" ", "") == "rain")
        {
            <p>Pack raingear and wear waterproof shoes</p>
        }
        else if (weather.Forecast.ToLower().Replace(" ", "") == "thunderstorms")
        {
            <P>Seek shelter and avoid hiking on exposed ridges</P>
        }
        else if (weather.Forecast.ToLower().Replace(" ", "") == "sunny")
        {
            <p>Bring sunscreen</p>
        }
        @if ((weather.HighF - weather.LowF) > 20)
        {
            <p>Wear breathable layers</p>
        }
        @if (weather.HighF > 75)
        {
            <p>Bring an extra gallon of water</p>
        }
        @if (weather.LowF < 20)
        {
            <p>WARNING: STAY INSIDE FOOL</p>
        }
    }
    else
    {
        <img src="~/images/@(weather.Forecast.ToLower().Replace(" ", "")).png" />
        <p>High: @weather.HighF</p>
        <p>Low: @weather.LowF</p>
    }
}

