@model IList<ParkModel>
@{
    ViewData["Title"] = "Home Page";
}

<tr>
    @foreach (ParkModel park in Model)
    {
    <td>
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">
            <img src="~/images/@(park.ParkCode.ToLower()).jpg" />
        </a>
    </td>
    <td>
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">
            <p>@park.ParkName</p>
        </a>
        <p>
            @park.ParkDescription
        </p>
    </td>
    }
</tr>