@model IList<FavoriteModel>
@{
    ViewData["Title"] = "Results";
}


<div class="background">
        <h2 id="resultsheadline">Poll Results</h2>
        <table>
            <tbody>
                @foreach (FavoriteModel favorite in Model)
                {
                <tr>
                    <td class="resultrow"><img src="~/images/@(favorite.ParkCode).jpg" /></td>
                    <td class="resultrow"><p>@favorite.ParkName</p></td>
                    <td class="resultrow"><p>Votes: @favorite.Votes</p></td>
                </tr>
                }
            </tbody>
        </table>
    </div>

