/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dancingbear body {
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}

.dancingbear {
    font-size: 13px;
    line-height: 10px;
    background: url(https://media.giphy.com/media/12OQNpEK2wWVfa/giphy.gif) no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-weight: 900;
    margin: 0;
}

.dancingbear footer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border-bottom-left-radius: 8px;
    height: 10px;
    display: flex;
    justify-content: center;
}

    .dancingbear footer a {
        color: black;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
