/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/IMG_7335.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
   margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dancingbear body {
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 6fr 4fr;
    padding: 10px;
}

.grid-item {
    text-align: center;
}

    .grid-item p {
        margin-top: 5px;
        width: 600px;
        height: 70vh;
    }

.dancingbear {
    font-size: 13px;
    line-height: 10px;
    background: url(https://media.giphy.com/media/12OQNpEK2wWVfa/giphy.gif) no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: local;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-weight: 900;
    margin: 0;
}

    .dancingbear footer {
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
        border-bottom-left-radius: 8px;
        height: 10px;
        display: flex;
        justify-content: center;
    }

        .dancingbear footer a {
            color: black;
            text-decoration: none;
            font-weight: 600;
            display: flex;
            align-items: center;
        }

.flex-container {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    padding: 10px;
}

.flexdiv{
    text-align: left;

}

.flexdiv p {
    font-size: 18px;
    padding-left: 45px;
}

